/*Смена обложек / Картинки*/

/*  Луффи  */
.b-catalog_entry a[href *= 'characters/40-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/40-'] {
  background-image: url(https://sun1-94.userapi.com/mSS9W8RZfUGIvNjiIPh3Ipod5V-4QpFsQBjQ5Q/aaHXO7ppMUQ.jpg);
}

/*  Камина  */
.b-catalog_entry a[href *= 'characters/2075-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/2075-'] {
  background-image: url(https://grandgames.net/puzzle/source/kamina.jpg);
}

/* Ягами  */
.b-catalog_entry a[href *= 'characters/80-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/80-'] {
  background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1901404/pub_5e3a58fa9dbf9a0c3fb2bdac_5e7a28000dc14436ad2c6d8c/scale_1200);
}

/*  Спайк */
.b-catalog_entry a[href *= 'characters/1-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/1-'] {
  background-image: url(https://cs5.pikabu.ru/post_img/big/2015/02/24/9/1424787186_1874041793.jpg);
}

/*  Мадара  */
.b-catalog_entry a[href *= 'characters/53901-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/53901-'] {
  background-image: url(https://i.pinimg.com/564x/66/97/c8/6697c8471c8b4b8893a7f442504fb6e4.jpg);
}

/*  Гатс  */
.b-catalog_entry a[href *= 'characters/422-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/422-'] {
  background-image: url(https://img3.goodfon.ru/wallpaper/nbig/6/c8/anime-art-berserk-gats-paren.jpg);
}

/* Эл  */
.b-catalog_entry a[href *= 'characters/71-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/71-'] {
  background-image: url(https://i.pinimg.com/736x/55/77/33/557733c519aa5d7e0276a09d5884e785.jpg);
}

/* Нагито */
.b-catalog_entry a[href *= 'characters/73227-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/73227-'] {
  background-image: url(https://sun9-46.userapi.com/c856020/v856020870/1d33bc/UiiH_0siVAM.jpg);
}

/* Цельнометаллический */
.b-catalog_entry a[href *= 'characters/11-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/11-'] {
  background-image: url(https://get.wallhere.com/photo/Full-Metal-Alchemist-Elric-Edward-1147653.jpg);
}

/* Лелуш */
.b-catalog_entry a[href *= 'characters/417-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/417-'] {
  background-image: url(https://i.pinimg.com/736x/e5/e7/12/e5e71266ac9c6cdf3d775eb764cf8d4a--code-geass-lelouch-lelouch-lamperouge.jpg);
}

/* Онидзука */
.b-catalog_entry a[href *= 'characters/434-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/434-'] {
  background-image: url(https://im0-tub-ru.yandex.net/i?id=398b73bf95448c83c3c0f75b20c4882f&n=13&exp=1);
}

/* Ишигами Сенку */
.b-catalog_entry a[href *= 'characters/148984-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/148984-'] {
  background-image: url(https://i.pinimg.com/736x/df/8e/2b/df8e2b46995abd96a7f1dfb4c7540d07.jpg);
}

/* Пейн  */
.b-catalog_entry a[href *= 'characters/3180-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/3180-'] {
  background-image: url(https://yt3.ggpht.com/a/AATXAJzQqP7gOqKV5or6vH872RZtWcynx_HC17g_Wqj7MQ=s900-c-k-c0xffffffff-no-rj-mo);
}

/* Хисока */
.b-catalog_entry a[href *= 'characters/31-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/31-'] {
  background-image: url(https://i.pinimg.com/736x/22/e6/26/22e626fa26f73fc3ffc49af549775434.jpg);
}

/* Сора */
.b-catalog_entry a[href *= 'characters/82523-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/82523-'] {
  background-image: url(https://pbs.twimg.com/profile_banners/4840949361/1457923363/1500x500);
}

/* Авилио Бруно */
.b-catalog_entry a[href *= 'characters/141202-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/141202-'] {
  background-image: url(https://pm1.narvii.com/6495/e3cf728be8206591538617199953ef65beec8809_hq.jpg);
}

/* Алукард */
.b-catalog_entry a[href *= 'characters/601-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/601-'] {
  background-image: url(https://i.ibb.co/dj8JtJW/image.png);
}

/* Кискэ */
.b-catalog_entry a[href *= 'characters/z210-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/z210-'] {
  background-image: url(https://pm1.narvii.com/6546/8db92d57a39939f8d7ec88fea478f513541dfd98_hq.jpg);
}