/* Общие настройки / удаление текущих обложек */

/* Общие настройки обложек */
.b-catalog_entry .cover .image-cutter,
.b-catalog_entry-tooltip > a,
.entry-tooltip_container > .image-link {
  background-size: cover;
  background-position: top center;
}

/* Изменение контейнера во всплывающей подсказке */
.b-catalog_entry-tooltip > a,
.entry-tooltip_container > .image-link {
  float: left;
  width: 160px;
  height: 249.34px;
}
/* Для персонажей и людей */

[class *= 'b-catalog_entry'] > a[href *= 'characters/40-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/2075-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/80-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/1-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/53901-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/422-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/71-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/73227-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/11-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/417-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/434-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/148984-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/3180-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/31-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/82523-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/141202-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/601-'] img {
    opacity: 0;
}

[class *= 'b-catalog_entry'] > a[href *= 'characters/z210-'] img {
    opacity: 0;
}
